.card-register {
  align-items: center;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 400px;
}

.form-register {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 75px;
  text-align: center;
  position: fixed;
  width: 100%;
}

@media (max-width: 600px) {
  .card-register {
    width: 300px;
  }
  .form-register {
      margin: 0;
  }
}
