.bem-vindos {
  align-items: center;
  border-radius: 15px;
  color: rgb(210, 223, 20);
  display: flex;
  font-family: Verdana, Arial, sans-serif;
  font-size: 50px;
  justify-content: center;
  margin: 10%;
  text-shadow: 0.1em 0.1em 0.2em black
}

.div-dash {
  background: url("../../assets/images/bitcoin.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 600px) {
  .div-dash {
    background-position: 25% 40%;;
  }
}
