body {
  background: url("./assets/images/crypto-markets.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  body {
    background:white;
  }
}
  